* {
   margin: 0px;
   padding: 0px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  text-align: center;
  /* background-color: blue; */
}

.navBar ul {
  background-color: yellow;
  list-style-type: none;
  display: flex;
  height: 10vh;
  justify-content: space-evenly;
}

.navBar li {
  line-height: 10vh;
    /* margin-left: 30px; */
}

.actorImages {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10%;
}

.actorInfo {
  min-height: 350px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background-color: yellow;
  vertical-align: top;
  /* in inline-block it is defaulted to vertical-align: baseline */

}


.recommendedShows {
  margin-top: 10px;
  margin-bottom: -10px;
}

/* COMMENT PAGE */
.commentBox {
  background-color: #D3D3D3;
  height: 50vh;
  width: 200vh;
}

.comment {
  margin-top: 20px;
  background-color: pink;
}
