* {
   margin: 0px;
   padding: 0px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  text-align: center;
  background-color: black;
}

.navBar {
  /* background-color: #2235aa; */
  background-color: #BF0A30;
    /* background-color: #F0F0F0; */
  color: white;
  list-style-type: none;
  display: flex;
  height: 12vh;
  justify-content: space-evenly;
  overflow: hidden;
  display: inline-block;
   vertical-align: middle;
   width: 100%;
   /* % for width is looking for the parent div that is position: RELATIVE */
}

.navLink {
  color: white;
  line-height: 2.5em;
  font-size: 32px;


}

.navLink :hover {
  background-color: white;
  text-decoration: underline !important;
  /* NEITHER OF THESE WORK: */
  /* border-color: black;
  color: #2235aa; */
}


/* WELCOME PAGE */

.welcomeComponent {
  position: relative;
  margin-top: 50px;
  padding: 10px;
    text-align: center;
}

.welcomeBanner {
  margin-bottom: 30px;
}



/* ACTOR PAGE */

.actorContainer {
/* NEED THIS TO BE CENTERED */
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  /* horizontal-align: cnter; */

  /* background-color: grey; */

}

.actorImages {
  max-height: 20vh;
  min-height: 20vh;
  max-width: 20vw;
  min-width: 20vw;
  border: 1px solid black;
  border-radius: 10%;
}

.actorInfo {
  /* min-height: 50px; */
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 10px;
  vertical-align: top;
  /* in inline-block it is defaulted to vertical-align: baseline */

}





.recommendedShows {
  margin-top: 10px;
  margin-bottom: -10px;
}

/* COMMENT PAGE */
.commentBox {
  /* background-color: #D3D3D3; */
  height: 50vh;
  width: 200vh;
}

.comment {
  margin-top: 20px;
  background-color: pink;
}

/* QUOTES PAGE */

.quoteImage {
  border-radius: 12.5%;
  height: 250px;
  width: 250px;
  padding: 20px;
}


/* SIMILAR SHOWS  */

.Jumbotron {
  margin-top: 1%;
  padding: 5%;
  background-color: #F0F0F0;
  text-align: center;
}


.similarShowName {
  background-color: grey;
}

.similarShowOverview {
  background-color: white;
}
